<ion-header>
  <ion-navbar color="primary">
    <ion-title>Category</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="saveCategory()">
        Save
      </button>
      <button *ngIf="category._id" ion-button icon-only (click)="deleteCategory()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input [(ngModel)]="category.title" type="Text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea [(ngModel)]="category.description" rows="2" placeholder="Add category description"></ion-textarea>
    </ion-item>
    <ion-item text-center>
      <button ion-button clear icon-start (click)="getPictureOption()">
        <ion-icon name="camera"></ion-icon>
        Select Photo
      </button>
      <ion-item *ngIf="category.photo">
        <img [src]="category.photo">
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>