<ion-header>
  <ion-navbar color="primary">
    <ion-title>Products</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addOrEdit({})">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-list lines>
    <ion-item text-wrap *ngIf="list.length == 0">
      You have no products registered.
    </ion-item>
    <ion-item *ngFor="let category of list" text-wrap (click)="addOrEdit(category);">
      {{ category.title }}
    </ion-item>
  </ion-list>
</ion-content>